

.orange{

    background-color: orange;
}


.blue{

    background-color: blue;
   
}


.yellow{


    background-color: yellow;
}

.margin2{


    margin: 40px;
}



.padding3{


    padding: 40px;
}